@charset "UTF-8";
/*
Переназначения стилей extjs
*/
/*
Фон когда открыто окно
*/
.x-mask {
  background-color: rgba(0, 16, 45, 0.35); }

.btn-red-dark {
  background: #8b1717 !important; }
  .btn-red-dark:hover {
    background: #9e1e1e !important; }
  .btn-red-dark:active {
    background: #841a1a !important; }
  .btn-red-dark span {
    color: #ffffff;
    font-weight: bold; }
  .btn-red-dark .x-btn-glyph {
    color: #ffffff; }

/*
Кнопки
*/
.btn-green {
  background: #339c00 !important; }
  .btn-green:hover {
    background: #2e8700 !important; }
  .btn-green:active {
    background: #339c00 !important; }
  .btn-green span {
    color: #ffffff;
    font-weight: bold; }
  .btn-green .x-btn-glyph {
    color: #ffffff; }

.btn-blue {
  background: #006ced !important; }
  .btn-blue:hover {
    background: #0058c2 !important; }
  .btn-blue:active {
    background: #006ced !important; }
  .btn-blue span {
    color: #ffffff;
    font-weight: bold; }
  .btn-blue .x-btn-glyph {
    color: #ffffff; }

.btn-gray {
  background: #353638 !important; }
  .btn-gray:hover {
    background: #161617 !important; }
  .btn-gray:active {
    background: #353638 !important; }
  .btn-gray span {
    color: #ffffff;
    font-weight: bold; }
  .btn-gray .x-btn-glyph {
    color: #ffffff; }

.btn-lightgray {
  background: #b3b3b3 !important; }
  .btn-lightgray:hover {
    background: #cacaca !important; }
  .btn-lightgray:active {
    background: #a1a1a1 !important; }
  .btn-lightgray span {
    color: #202020;
    font-weight: bold; }
  .btn-lightgray .x-btn-glyph {
    color: #202020; }
